<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Checkers</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <style>
        body {
            background-image: url("{{ url_for('static', filename='boby.jpg') }}");
            background-size: cover;
            color: white;
            text-align: center;
        }
        .button {
            background-color: #87CEEB; /* Bleu ciel */
            color: white;
            padding: 15px 30px;
            margin: 20px;
            border: none;
            border-radius: 5px;
            text-decoration: none;
            font-size: 20px;
        }
    </style>
</head>
<body>
    <h1>Welcome to Checkers!</h1>
    <p>Your platform for exciting games and challenges.</p>
    <div>
        <a href="{{ url_for('login') }}" class="button">Login</a>
        <a href="{{ url_for('register') }}" class="button">Sign Up</a>
    </div>
</body>
</html>
